/* Fondo general claro */
body {
  background-image: url('../public/images/8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* <— esto hace que quede inmóvil */
  background-position: center;
  /* margin: 0;
  padding: 0;
  background: #fafaf8;
  font-family: Arial, sans-serif;
  color: #504f4f; */
}

/* Contenedor principal */
#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Barra superior */
.topbar {
  background: rgb(232, 247, 18);
  padding: 15px 20px;
  border-bottom: 2px solid #ee4242;
  display: flex;
  gap: 20px;
  font-size: 18px;
  border-radius: 13px;
}

.topbar a {
  color: #2a7c58;
  text-decoration: none;
  font-weight: bold;
}

.topbar a:hover {
  text-decoration: underline;
}

/* Grid de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 20px;
}

/* Tarjeta de producto */
.product-card {
  background: rgb(250, 250, 188);
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #91ca8f;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.04);
}

/* Imagen del producto */
.product-card img {
  width: 100%;
  height: 180px;
  object-fit:contain;
  border-radius: px;
}

/* Botón */
.btn-primary {
  background: #2a7c58;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: background 0.2s;
}

.btn-primary:hover {
  background: #1f6345;
}
